<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="dd">

	<bean  id="emp" class="com.Employee" autowire="constructor" scope="prototype" >
			<constructor-arg value="Jay"></constructor-arg>
	</bean>
	
	<bean  id="address" class="com.Address">
	
			<constructor-arg name = "city" value="Blr"></constructor-arg>
			<constructor-arg name ="state" value="Ktaka"></constructor-arg>
			<constructor-arg name ="aID" value="111"></constructor-arg>
	</bean>
	
<!-- 	<property name="employeeName" value="Sakshi" ></property> -->
	</beans>